<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
    <title>Vue To Do List</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body class="bg-dark">
    <div id="app">
        <div class="container">
            <h1 class="text-white">TO DO LIST</h1>
            <input type="text" class="form-control form-control-lg" 
            placeholder="scrivi qualcosa da fare"
            v-model="inputTask.text"
            @keyup.enter="addTask">
            
            <button class="btn btn-success my-3" @click="addTask">Aggiungi</button>
            <div class="card border-0 rounded-5">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex list-task" v-for="listTask in todoList">
                        <div class="flex-grow-1">
                        {{ listTask.text }}
                        </div>
                        <div class="btn btn-link text-success bar-task"
                        @click="changeDone (listTask.done)">
                        <i class="fa-solid fa-square-check"></i></div>
                        <div class="btn btn-link text-danger delete-task"
                        @click="deleteTask (listTask.id)">
                        <i class="fa-solid fa-square-xmark"></i></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>